<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <% posts.each do |post| %>
        <div>
          <a href="/posts/<%= post['id'] %>">
            <%= post['title'] %>
          </a>
        </div>
      <% end %>
    </div>
  </body>
</html>
