<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/new">
      <div className="_field">
        <label>Title</label>
        <input name="title" type="text" placeholder="Enter new title">
      </div>
      <div className="_field">
        <label>Body</label>
        <input name="body" type="text" placeholder="Enter new body">
      </div>
      <div className="_field">
        <label>Author</label>
        <input name="author" type="text" placeholder="Enter your name">
      </div>
      <input type="submit" value="Create Post" />
    </form>
  </body>
</html>
