<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1><%= post['title'] %></h1>
      <h3>By <%= post['author'] %></h3>
      <small>Created on: <%= post['created_at'] %></small>
    </header>
    <main>
      <p><%= post['body'] %></p>
    </main>
  </body>
</html>
